section {
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  padding: 250px 0 140px;
}

.content {
  max-width: 850px;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 20px;
}

button {
  display: block;
  color: #333;
  background-color: $accent;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #e69b54;
}

.content span {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}

.cotagges {
  display: flex;
  font-weight: 400;
}

.cotagges p {
  position: relative;
  max-width: 210px;
  width: 100%;
  font-size: 20px;
  line-height: 1.4;
  padding-left: 90px;
}

.cotagges p:first-child {
  margin-right: 25px;
}

.cotagges p:last-child {
  max-width: 275px;
  width: 100%;
  padding-left: 160px;
}

.cotagges p:first-child::before {
  position: absolute;
  content: "3";
  top: -35px;
  left: 0;
  font-size: 128px;
}

.cotagges p:last-child::before {
  position: absolute;
  content: "33";
  top: -35px;
  left: 0;
  font-size: 128px;
}

.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 296px;
  width: 100%;
  padding-top: 7px;
}

.work p {
  margin-bottom: 30px;
}

.work span {
  font-weight: 700;
}